html,
body,
#root {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  overscroll-behavior: contain;
}

nav {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  background: white;

  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 5px 10px 5px 10px;
    font-size: 24px;
    height: auto;
    box-sizing: border-box;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 15px;
    transform: skewX(-10deg);
  }

  & div {
    display: flex;
    flex-direction: row;
    justify-content: right;

    & h2 {
      border-radius: 0px;
      padding: 6px;
      margin-right: 5px;
      font-size: 18px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &.selectedMenu {
        text-decoration: underline;
      }
    }
  }
}

input:hover {
  cursor: pointer;
}

input[type="color"] {
  min-width: 40px;
  width: 40px;
  height: 20px;
  padding: 0px;
  border: 2px solid dimgray;
  border-radius: 10px;
  box-sizing: border-box;

  &::-moz-color-swatch {
    border-width: 0;
  }

  &::-moz-color-swatch-wrapper {
    padding: 0px;
  }

  &::-webkit-color-swatch {
    border-width: 0;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0px;
  }
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  width: 40px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 12px;
  transition: 0.5s;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &.switchOn {}

  &>.switchButton {
    position: absolute;
    height: 16px;
    width: 16px;
    margin: 0px;
    margin-top: -2px;
    margin-left: 12px;
    background: red;
    border: 2px solid dimgray;
    border-radius: 50%;
    transition: 0.5s;
  }

  &>.switchButtonOn {
    margin-left: -11px;
    background: limegreen;
  }
}

#scenario{
  position: absolute; 
  height: calc(100vh - 50px);
  width: 100%;
  top: 50px;
  left: 0;
}

ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  width: 200px;
  right: -200px;
  height: calc(100vh - 50px);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  transition: 0.3s;
  box-sizing: border-box;
  border-top: 1px solid gray;
  overflow-y: scroll;
  overflow-x: hidden;
}

.expandMenu {
  right: 0px;
  transition-delay: 0.3s;
}

li {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
  padding:5px;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  background: white;

  & div {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-right: 2px;

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-right: 3px;
      font-size: 12px;
      box-sizing: border-box;
      border-color: gray;
      border-width: 1px;
      border-style: outset;
      border-radius: 8px;
      background: white;
    }
  }

  &:hover {
    cursor: pointer;
    background: lightskyblue;
  }
}

#copyLinkButton {
  width: 100%;
  margin: 5px;
  font-size: 15px;
  box-sizing: border-box;
  border-color: gray;
  border-width: 1px;
  border-style: outset;
  border-radius: 12px;
  background: white;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

#linkBox {
  box-sizing: border-box;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  background: white;
  width: 100%;
  resize: none;

}

#partInput {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 190px;
  height: 275px;
  background: white;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 0 25px 0 0;
}

#partName {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 25px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  border: 1px solid gray;
  border-radius: 0 0 25px 25px;
}
#partName>button{
  height:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px outset lightgray;
  border-radius: 5px;
  background: lightgray;
  cursor: pointer;
}

#partName>button:active{
  border: 2px inset lightgray;
}

#partEditor {
  display: flex;
  flex-direction: row;
  margin-bottom:5px;
  padding-left: 15px;
  padding-right: 15px;
}

#partValues {
  align-items: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  height: 53px;
}

#partValues>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 2px;
  box-sizing: border-box;
}

#partValues>div>input[type="number"] {
  width: 50px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid gray;
  text-align: center;
}

#partValues>div>input[type="text"] {
  width:100%;
  height:12px;
  font-size: 12px;
}

#partValues>div>button {
  font-size:12px;
  height:18px;
  text-align: center;
}

.partButtons{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:stretch;
  align-items: center;
  box-sizing: border-box;
  padding-left:15px;
  padding-right: 15px;
  margin-top:2px;
  margin-bottom:2px;
}

.partButtons>button{
  width: 50%;
  font-size: 10px;
  height:18px;
  box-sizing: border-box;
  border-bottom: 2px outset gray;
  border-top:  2px outset gray;
  background: lightgray;
  cursor: pointer;
  text-shadow: 0 0 2px white;
}

.partButtons>button:hover{
  background: lightblue;
}

.partButtons>button:active{
  background: lightskyblue;
}

.partButtons>button.active{
  border-bottom:  2px inset gray;
  border-top:  2px inset gray;
  background: lightskyblue;
}

.partButtons>button:first-child{
  border-radius: 12px 0 0 12px;
  border-left:  2px outset gray;
}

.partButtons>button:first-child.active{ 
  border-left:  2px inset gray;
}

.partButtons>button:last-child{
  border-radius: 0 12px 12px 0;
  border-right:  2px outset gray;
}

.partButtons>button:last-child.active{
  border-right:  2px inset gray;
}

slider-thumb {
  position: absolute;
  cursor: pointer;
  border: 2px solid silver;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 0 2px 1px black;
  height: 15px;
  width: 15px;
}

hue-light-map {
  position: relative;
  display: block;
  width: 142px;
  height: 141px;
  padding: 0;
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid black;
}

hue-light-map>canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hue-light-map>slider-thumb {
  transform: translate(-9px, -9px);
}

saturation-slider {
  position: relative;
  width: 12px;
  height: 140px;
}

saturation-slider>div {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin-top: 5px;
  margin-left: 6px;
  box-sizing: border-box;
  border: 1px solid black;
}

saturation-slider>slider-thumb {
  transform: translate(4px, -1px);
}

@media screen and (max-width: 600px) {
  nav {
    & h1 {
      font-size: 3.5vw;
      width: 15vw;
    }

    & div {
      & h2 {
        font-size: 4vw;
      }
    }
  }

  ul {
    width: 35vw;
    right: -35vw;

    & li {
      font-size: 3.5vw;
      padding-left: 1vw;
      padding-right: 1vw;

      & div {
        & button {
          min-width: 4.5vw;
          width: 4.5vw;
          height: 4.5vw;
        }

        & input[type="color"] {
          min-width: 4.5vw;
          width: 4.5vw;
          height: 4.5vw;
        }

      }

    }
  }

}