html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

nav {
  position: absolute;
  display: flex;
  width: 140px;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding-right: 2%;
  background: lightslategray;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: 0 1px 3px black;
  
  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width:270px;
    height: 85%;
    padding-left:5px;
    padding-right:10px;
    box-sizing: border-box;
    border-right:2px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 0 15px 15px 0;
    text-shadow: 0 0 2px white;
    background:lightgray;
    font-style: italic;
    text-decoration:underline;
  }

  & div {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;

    & h2 {
      border-color: black;
      border-width: 4px;
      border-style: outset;
      border-radius:10px;
      margin-right:5px;
      padding:5px;
      background:white;
      font-size: 20px;
      text-shadow: 0 0 2px black inset;
      &:hover {
        cursor: pointer;
        color:green
      }

      &.selectedMenu {
        border-style: inset;
        background:lightgray;
        border-color: green;
      }
    }
  }
}



input:hover {
  cursor: pointer;
}

input[type="color"] {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: lightgray;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid gray;
  border-radius: 10px;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  width: 40px;
  height: 18px;
  background: lightsalmon;
  border: 2px inset black;
  border-radius: 10px;
  transition: 0.5s;
}

.switch:hover {
  cursor: pointer;
}

.switchOn {
  background: lightgreen;
}

.switchButton {
  position: absolute;
  height: 12px;
  width: 12px;
  margin: 0px;
  margin-top: -1px;
  margin-left: 13px;
  background: red;
  border: 4px outset rgb(172, 172, 172);
  border-radius: 50%;
  transition: 0.5s;
}

.switchButtonOn {
  background: limegreen;
  margin-left: -7px;
}

ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  width: 120px;
  right: 0px;
  height: 100%;
  background-color: rgba(119, 136, 153, 0.85);
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.expandMenu {
  transition-delay: 0.3s;
  opacity: 1;
  visibility: visible;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
}

@media (min-width: 1000px) {
  ul {
    display: flex;
  }
}