html,
body,
#root {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  overscroll-behavior: contain;
}

nav {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  background: white;

  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 5px 10px 5px 10px;
    font-size: 28px;
    height: auto;
    box-sizing: border-box;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 15px;
    transform: skewX(-10deg);
  }

  & div {
    display: flex;
    flex-direction: row;
    justify-content: right;

    & h2 {
      border-radius: 0px;
      padding: 6px;
      margin-right: 5px;
      font-size: 20px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &.selectedMenu {
        text-decoration: underline;
      }
    }
  }
}

input:hover {
  cursor: pointer;
}

input[type="color"] {
  min-width: 40px;
  width: 40px;
  height: 20px;
  padding: 0px;
  border: 2px solid dimgray;
  border-radius: 10px;
  box-sizing: border-box;

  &::-moz-color-swatch {
    border-width: 0;
  }

  &::-moz-color-swatch-wrapper {
    padding: 0px;
  }

  &::-webkit-color-swatch {
    border-width: 0;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0px;
  }
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  width: 40px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 12px;
  transition: 0.5s;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &.switchOn {}

  &>.switchButton {
    position: absolute;
    height: 16px;
    width: 16px;
    margin: 0px;
    margin-top: -2px;
    margin-left: 12px;
    background: red;
    border: 2px solid dimgray;
    border-radius: 50%;
    transition: 0.5s;
  }

  &>.switchButtonOn {
    margin-left: -11px;
    background: limegreen;
  }
}


ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  width: 180px;
  right: -180px;
  height: calc(100vh - 60px);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  transition: 0.3s;
  box-sizing: border-box;
  border-top: 1px solid gray;
  overflow: scroll;
}

.expandMenu {
  right: 0px;
  transition-delay: 0.3s;
}

li {
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
  padding-top: 5%;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5%;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  background: white;

  & div {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-right: 2px;

    & button {
      display:flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-right: 3px;
      font-size: 12px;
      box-sizing: border-box;
      border-color: gray;
      border-width: 1px;
      border-style: outset;
      border-radius: 8px;
      background: white;
    }
  }

  &:hover {
    cursor: pointer;
    background: lightgray;
  }
}

#copyLinkButton {
  width: 100%;
  margin: 5px;
  font-size: 15px;
  box-sizing: border-box;
  border-color: gray;
  border-width: 1px;
  border-style: outset;
  border-radius: 12px;
  background: white;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

#linkBox {
  box-sizing: border-box;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  background: white;
  width: 100%;
  resize: none;

}

@media screen and (max-width: 600px) {
  nav {
    & h1 {
      font-size: 3.5vw;
      width: 15vw;
    }

    & div {
      & h2 {
        font-size: 4vw;
      }
    }
  }

  ul {
    width: 35vw;
    right: -35vw;

    & li {
      font-size: 3.5vw;
      padding-left: 1vw;
      padding-right: 1vw;

      & div {
        & button{
          min-width: 4.5vw;
          width: 4.5vw;
          height: 4.5vw;
        }
        & input[type="color"] {
          min-width: 4.5vw;
          width: 4.5vw;
          height: 4.5vw;
        }

      }

    }
  }

}